<div style="text-align:center">
    <div class="bg-primary dashboard-title pt-3">
        <i class="fa fa-dashboard opacity" style="font-size:36px"></i>
        <h4 class="p-2 ng-star-inserted">{{title}}</h4>
    </div>
</div>
<div style="padding-top: 2%;" class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xl-6 col-lg-5 col-md-offset-1">
            <div class="card card-primary-new card-inverse card-radius cursor">
                <div class="card-header card-primary-new">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cubes opacity fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-xs-right">
                            <div class="huge">1234</div>
                            <div>Number of Blocks!</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-primary-new card-footer-primary">
                    <a href="javascript:;">
                        <span class="pull-xs-left">View Details</span>
                        <span class="pull-xs-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class=" col-md-6 col-xl-6 col-lg-5">
            <div class="card card-green card-inverse card-radius cursor">
                <div class="card-header card-green">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-exchange opacity fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-xs-right">
                            <div class="huge">12</div>
                            <div>Number of Transaction!</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-green card-footer-green">
                    <a href="javascript:;">
                        <span class="pull-xs-left">View Details</span>
                        <span class="pull-xs-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding-top: 2%;" class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xl-6 col-lg-5 col-md-offset-1">
            <div class="card card-yellow card-inverse cursor">
                <div class="card-header card-yellow">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-sitemap opacity fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-xs-right">
                            <div class="huge">124</div>
                            <div>Number of Peers!</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-yellow card-footer-yellow">
                    <a href="javascript:;">
                        <span class="pull-xs-left">View Details</span>
                        <span class="pull-xs-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6 col-lg-5">
            <div class="card card-blue card-inverse cursor">
                <div class="card-header card-blue">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-street-view opacity fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-xs-right">
                            <div class="huge">13</div>
                            <div>Number of Accounts!</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-blue card-footer-blue">
                    <a href="javascript:;">
                        <span class="pull-xs-left">View Details</span>
                        <span class="pull-xs-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="padding-top: 5%;" class="container-fluid">
    <div class="row">
        <div class=" col-md-6 col-xl-6 col-lg-5 col-md-offset-1">
            <div class="card" style="background-color: white;">
                <h5 class="card-header" style="margin: 0;background-color: white;">Recent Orders</h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light" style="background-color: #d2d7d7;">
                                <tr class="border-0">
                                    <th class="border-0">Product Name</th>
                                    <th class="border-0">Product Id</th>
                                    <th class="border-0">Quantity</th>
                                    <th class="border-0">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Product #1 </td>
                                    <td>id000001 </td>
                                    <td>20</td>
                                    <td>$80.00</td>

                                </tr>
                                <tr>
                                    <td>Product #2 </td>
                                    <td>id000002 </td>
                                    <td>12</td>
                                    <td>$180.00</td>

                                </tr>
                                <tr>
                                    <td>Product #3 </td>
                                    <td>id000003 </td>
                                    <td>23</td>
                                    <td>$820.00</td>
                                </tr>
                                <tr>
                                    <td>Product #4 </td>
                                    <td>id000004 </td>
                                    <td>34</td>
                                    <td>$340.00</td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <a href="#" class="btn btn-outline-light float-right">View Details</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-6 col-xl-6 col-lg-5">
            <div class="card" style="background-color: white;">
                <h5 class="card-header" style="margin: 0;background-color: white;">Recent Orders</h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light" style="background-color: #d2d7d7;">
                                <tr class="border-0">
                                    <th class="border-0">Product Name</th>
                                    <th class="border-0">Product Id</th>
                                    <th class="border-0">Quantity</th>
                                    <th class="border-0">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Product #1 </td>
                                    <td>id000001 </td>
                                    <td>20</td>
                                    <td>$80.00</td>

                                </tr>
                                <tr>
                                    <td>Product #2 </td>
                                    <td>id000002 </td>
                                    <td>12</td>
                                    <td>$180.00</td>

                                </tr>
                                <tr>
                                    <td>Product #3 </td>
                                    <td>id000003 </td>
                                    <td>23</td>
                                    <td>$820.00</td>
                                </tr>
                                <tr>
                                    <td>Product #4 </td>
                                    <td>id000004 </td>
                                    <td>34</td>
                                    <td>$340.00</td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <a href="#" class="btn btn-outline-light float-right">View Details</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>